* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
    font-family: gilroy-bold;
    src: url(fonts/gilroy-bold.ttf);
}

body {
    font-family: gilroy-bold;
}

h2 {
    font-size: 34px;
}

p {
    font-size: 18px;
}

.first {
    margin: 0 17% 0 17%;
}
 
a {
    text-decoration: none;
}

.nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #828282;
}

.nav__list li {
    font-size: 18px;
    line-height: 22.28px;
    padding: 32px 0 32px 0;
}

li a {
    color: #828282;
}

.nav__list li:hover {
    transform: scale(1.3);
}

.black  {
    color: black;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 40px;

}

.info__name {
    font-size: 38px;
}

.info__professio {
    font-size: 18px;
    padding-bottom: 17px;
}

.info__language {
    transform: rotate(270deg);
    display: flex;
    position: relative;
    top: -40px;
}

.language__ru{
    color: #828282;
    margin-right: 3px;
}

.image  {
    padding: 30px 0 100px 0;
    width: 100%;
}

.about {
    background-color: #F6F6F6;
    text-align: center;
    padding: 120px 480px 107px 480px;
}

.about h2 {
    padding-bottom: 10px;
}

.about p {
    line-height: 22px;
    padding: 20px 0 20px 0;
}

.skills {
    text-align: center;
    padding-top: 80px;
}

.skills h2 {
    margin-bottom: 50px;
}

.programms {
    display: flex;
    justify-content: space-around;
    margin: 90px 250px 0 250px;
    color: #828282;
}

.programms p {
    font-size: 14px;
    padding: 23px 0 66px 0;
}

.programms div {
    width: 166px;
    height: 206px;
}

.PS {
    background-image: url(img/4stars.svg);
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.AI {
    background-image: url(img/3stars.svg);
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.AE {
    background-image: url(img/4stars.svg);
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.FIGMA {
    background-image: url(img/4stars.svg);
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F6F6;
    padding-top: 113px;
}

.portfolio h2 {
    margin-bottom: 47px;
}

.portfolio img {
    width: 935px;
    height: 510px;
}

.portfolio h3 a {
    color: black;
}

.portfolio h3 {
    margin: 40px 0 100px 0;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    text-align: center;
    line-height: 22px;
}

.contacts button {
    width: 180px;
    height: 42px;
    color: white;
    background-color: black;
    border-radius: 21px;
    border: 2px solid black ;
    margin: 30px 0 85px 0;
}

.contacts button:hover {
    transform: scale(1.3);
}

.contacts h2 {
    margin-bottom: 20px;
    line-height: 42.09px;
}

.social {
    display: flex;
    justify-content: space-between;
    width: 340px;
    height: 40px;
}

.linked {
    color: #828282;
    font-size: 16px;
    margin: 45px 0 120px 0;
}
